@model GadgetHub.Domain.Entities.Gadget

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">$@Model.Price</p>

        <form action="@Url.Action("AddToCart", "Cart")" method="post">
            <input type="hidden" name="gadgetId" value="@Model.GadgetId" />
            <input type="hidden" name="name" value="@Model.Name" />
            <input type="hidden" name="price" value="@Model.Price" />
            <button type="submit" class="btn btn-primary">Add to Cart</button>
        </form>
    </div>
</div>
